:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  place-items: center;
  font-family: 'GmarketSans';
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 15px 5px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
}
button:active {
  border: 1px solid #ddd;
  background-color: #ddd;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
