:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  place-items: center;
  font-family: 'GmarketSans';
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#app {
  position: relative;
  width: 100%;
}
